<!--首页业务页面-->
<!--在homePage中要显示如下内容
    1 天猫超市连接右侧有4个分类数据
    2 竖状导航栏显示17个分类数据
    3 每个分类又再对应不同的推荐产品集合
    4 中部会显示17个分类
    5 每个分类又显示前5款产品
    6 每款产品又会显示第一张图片，标题，价格等信息-->
<div th:fragment="html">
    <script>
        function showProductsAsideCategorys(cid){
            $("div.eachCategory[cid="+cid+"]").css("background-color","white");
            $("div.eachCategory[cid="+cid+"] a").css("color","#87CEFA");
            $("div.productsAsideCategorys[cid="+cid+"]").show();
        }

        function hideProductsAsideCategorys(cid){
            $("div.eachCategory[cid="+cid+"]").css("background-color","#e2e2e3");
            $("div.eachCategory[cid="+cid+"] a").css("color","#000");
            $("div.productsAsideCategorys[cid="+cid+"]").hide();
        }

        function homePageRegisterListeners(){
            $("div.eachCategory").mouseenter(function(){
                var cid = $(this).attr("cid");
                showProductsAsideCategorys(cid);
            });
            $("div.eachCategory").mouseleave(function(){
                var cid = $(this).attr("cid");
                hideProductsAsideCategorys(cid);
            });
            $("div.productsAsideCategorys").mouseenter(function(){
                var cid = $(this).attr("cid");
                showProductsAsideCategorys(cid);
            });
            $("div.productsAsideCategorys").mouseleave(function(){
                var cid = $(this).attr("cid");
                hideProductsAsideCategorys(cid);
            });

            $("div.rightMenu span").mouseenter(function(){
                var left = $(this).position().left;
                var top = $(this).position().top;
                var width = $(this).css("width");
                var destLeft = parseInt(left) + parseInt(width)/2;
                $("img#catear").css("left",destLeft);
                $("img#catear").css("top",top-20);
                $("img#catear").fadeIn(500);

            });
            $("div.rightMenu span").mouseleave(function(){
                $("img#catear").hide();
            });

            var left = $("div#carousel-of-product").offset().left;
            $("div.categoryMenu").css("left",left-20);
            $("div.categoryWithCarousel div.head").css("margin-left",left);
            $("div.productsAsideCategorys").css("left",left-20);

            //用于随机挑选一个产品作为推荐产品，来进行高亮显示。
            //严格的说，应该是后台设置那个产品是推荐产品，不过这里直接在前端按照20%的概率，随机挑选了一个产品
            $("div.productsAsideCategorys div.row a").each(function(){
                var v = Math.round(Math.random() *6);
                if(v == 1)
                    $(this).css("color","#87CEFA");
            });
        }

        $(function(){
            //1.首先加载Vue
            var data4Vue = {
                uri:'forehome',
                categories: []
            };
            //ViewModel
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){
                    //2. Vue加载成功之后调用 header.html 的 linkDefaultActions 函数，给一些特定超链加上事件。
                    linkDefaultActions();
                    //3. 然后调用load函数
                    this.load();//4. 在load函数中访问 forehome(forehome 在ForeRESTController 中定义)
                },
                methods: {
                    load:function(){
                        var url =  this.uri;
                        axios.get(url).then(function(response) {
                            //5.vue 拿到这个json数组，把他放在 vue.categories属性上
                            vue.categories = response.data;
                            //6.vue 就会通过几个被包含的 html 中的代码， 把这些数据渲染在视图上
                            //然后， 在vue.$nextTick 这个函数里，对那渲染出来的元素，加上监听。
                            vue.$nextTick(function(){
                                //7.要等渲染结束之后，才来进行监听，否则他们都没有被创建出来，监听也没有意义呀
                                homePageRegisterListeners();
                            })
                        });
                    }
                },
                filters:{
                    subTitleFilter:function(value) {
                        if (!value) return ''; //如果为空，则返回空字符串
                        return value.split(" ")[0]; //根据空格拆分，并且只获取数组第一个值
                    }
                }
            });


        });

    </script>


    <title>模仿天猫官网</title>
    <div class="homepageDiv">
        <div th:replace="include/fore/home/categoryAndcarousel::html" ></div>
        <div th:replace="include/fore/home/homepageCategoryProducts::html" ></div>
    </div>
</div>




